@charset "utf-8";

/* mobile */

/* mobile media query X */
body {
  font-family: "pretendard-regular";
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button;
  opacity: 1;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: inner-spin-button;
  background: #f1e3c4;
}
.back_space {
  display: none;
}

/* header */

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 90px;
  background: #2d2926;
  z-index: 50;
}

.header_center {
  position: relative;
  /* 300/360 */
  width: 83.3333%;
  height: 90px;
  margin: 0 auto;
  display: flex;
}

.m_btn {
  position: absolute;
  right: 0;
  top: 35px;
  cursor: pointer;
  width: 45px;
  height: 21px;
  background: #2d2926;

  border: none;
}

.m_btn span {
  display: block;
}

.m_btn span:nth-of-type(1) {
  width: 100%;
  height: 1px;
  background: #f1e3c4;
}
.m_btn span:nth-of-type(2) {
  width: 28px;
  height: 1px;
  background: #f1e3c4;
  margin: 9px 0;
  float: right;
}

.m_btn span:nth-of-type(3) {
  width: 36px;
  height: 1px;
  background: #f1e3c4;
  float: right;
}

.close_btn {
  width: 14.28571%;
  height: 40px;
  border: none;
  background: transparent;
  cursor: pointer;
  float: right;
}

.close_btn span {
  display: block;
}

.close_btn span:nth-child(1) {
  width: 95%;
  height: 1px;
  background: #000;
  transform: rotate(45deg);
}
.close_btn span:nth-child(2) {
  width: 95%;
  height: 1px;
  background: #000;
  transform: rotate(-45deg);
}

.gnb_left_768 {
  display: none;
}

.header_center h1 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  display: block;

  width: 180px;
  height: 72px;

  background: url(../image/logo/main_logo.jpg) no-repeat center/cover;
  margin-top: 9px;
}

.header_gnb_wrap {
  position: fixed;
  right: -50%;
  top: 0;
  z-index: 100;
  /* 200/360 */
  /* 0 -> 200 */
  width: 50%;
  height: 100%;
  background: #fff;
  transition: all 0.5s ease 0s;
  padding: 30px 3% 0 6%;
}

.wrap {
  display: none;
}

.header_gnb_left {
  margin-top: 30px;
}
.header_gnb_right {
}
.header_gnb_left li {
  margin-bottom: 30px;
}
.header_gnb_right li {
  margin-bottom: 30px;
}
.header_gnb_left li a {
  font-family: "pretendard-regular";
  font-size: 1.6rem;
}
.header_gnb_right li a {
  font-family: "pretendard-regular";
  font-size: 1.6rem;
}

/* #visual */

#visual {
  margin-top: 90px;
}

.visual_section {
  width: 100%;
  height: 600px;
}

.fade_slider {
  width: 100%;
  height: 100%;
}
.fade_slider div {
  width: 100%;
  height: 100%;
}

.fade_slider div:nth-of-type(1) {
  background: url(../image/main/main_2.jpg) no-repeat center/cover;
  position: relative;
  h3 {
    position: absolute;
    top: 500px;
    left: 16.6667%;
    display: block;
    width: 83.3333%;
    margin: 0 auto;
    color: #2d2926;
    font-family: "KoPubWorld Batang Light";
    font-size: 2.2rem;
    line-height: 1.5;
    z-index: 2;
  }

  .fade_back {
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    bottom: 17px;
    width: 80%;
    height: 100px;
    z-index: 1;
    background: rgb(255, 255, 255, 0.4);
  }
}
.fade_slider div:nth-of-type() {
}

.check_bar {
  width: 100%;
  height: 200px;
  background: #f1e3c4;
  position: relative;
}

.check_gnb {
  padding-top: 45px;
}

.check_gnb_wrap {
  width: 50%;
  height: 137px;
  margin: 0 auto;
  overflow: hidden;
  /* transform: translateX(-100%); */
}

.check_gnb_box {
  display: flex;
  width: 100%;
  height: 100%;
  transform: translateX(0%);
  transition: all 0.5s ease 0s;
}

.check_gnb_box > div {
  flex-shrink: 0;
  width: 100%;
  height: 137px;
}

.check_gnb_box div label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.4rem;
}

.check_hotel {
  text-align: center;
  font-family: "pretendard-regular";
}

.check_hotel select {
  background: #f1e3c4;
  font-size: 1.8rem;
  border: none;
  font-family: "pretendard-regular";
}

.check_date_in {
  text-align: center;
}
.check_date_out {
  text-align: center;
}
.check_date_in div input {
  background: transparent;
  font-family: "pretendard-regular";
}
.check_date_out div input {
  background: transparent;
  font-family: "pretendard-regular";
}

.check_num {
  position: relative;
}

.check_num_box {
  display: flex;
  text-align: center;
}

.check_num_box > div {
  flex-shrink: 1;
  width: 100%;
  height: 137px;
}

.check_num div input {
  background: transparent;
  font-family: "pretendard-regular";
  margin-left: 18px;
  width: 28px;
  height: 20px;
}

.check_bar_line {
  display: none;
}

.btn_box {
  width: 100%;
  height: 50px;
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.btn_box2 {
  position: absolute;
  left: 0;
  bottom: 15px;
  width: 100%;
  display: flex;
  height: 50px;
  justify-content: center;
}

.next_btn {
  display: block;
  /* 110/180 */
  width: 40%;
  height: 50px;
  background: #6c5c4f;
  text-align: center;
  color: #fff;
  cursor: pointer;
  margin: 0;
  transform: translateX(0%);
  border: none;
  font-size: 1.4rem;
}

.first_btn {
  margin: 24px auto 0;
}

.second_btn {
}

.search_btn {
  /* display: none; */
  /* 110/180 */

  width: 40%;
  height: 50px;
  background: #6c5c4f;
  text-align: center;
  color: #fff;
  border: none;
  margin-left: 5%;
  cursor: pointer;
  font-size: 1.4rem;
}

.second_btn,
.third_btn {
  margin-left: 5%;
}

.prev_btn1 {
  display: block;
  font-size: 1.4rem;
  color: #fff;
  width: 40%;
  height: 50px;
  background: #6c5c4f;
  padding-top: 17px;
}

.prev_btn2 {
  display: block;
  color: #fff;
  font-size: 1.4rem;
  width: 40%;
  height: 50px;
  background: #6c5c4f;
  padding-top: 17px;
}

.prev_btn3 {
  color: #fff;
  display: block;
  font-size: 1.4rem;
  width: 40%;
  height: 50px;
  background: #6c5c4f;
  padding-top: 17px;
  text-align: center;
}

/* #company */

#company {
  width: 100%;
  position: relative;

  overflow: hidden;
  /* position: relative; */
}

.company_center {
  /* 300/360 */

  width: 83.3333%;
  height: auto;
  margin: 150px auto 0;
}

.text_box1 {
  width: 100%;
  height: auto;
}

.text_box1 h2 {
  font-family: "nanumgothic-regular";
  font-size: 3rem;
  line-height: 1.5;
}

.text_box1_line {
  width: 100%;
  height: 2px;
  background: rgba(107, 97, 89, 0.7);
  margin: 10px 0 24px;
}

.text_box1 p:nth-of-type(2) {
  display: none;
}

.text_box1 p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.text_box1 p:first-of-type {
  margin-bottom: 30px;
}

.drag_wrap {
  width: 100%;
  margin: 60px 0 0 8.33333%;
  overflow: hidden;
}

.drag_box1 {
  width: 100%;
  display: flex;
  transform: translate(0, 0);
}

.drag_item {
  padding-right: 24px;
  user-select: none;
}

.drag_box1 > div:last-of-type {
  padding-right: 0;
}

.drag_item > a {
  display: block;
  -webkit-user-drag: none;
}

.drag_img {
  display: block;
  width: 350px;
  height: 273px;
  -webkit-user-drag: none;
  object-fit: cover;
}

.right_point1 {
  width: 74px;
  height: 74px;
  position: absolute;
  left: 0;
  top: 585px;
  background: url(../image/icon/pngegg.png) no-repeat center/cover;
}

.drag_line_wrap1 {
  position: relative;
  width: 100%;
  margin: 28px 0 40px;
}

.drag_line_wrap1 div:nth-of-type(1) {
  position: absolute;
  left: 0;
  top: -1px;
  /* 80/300 */
  width: 26.6667%;
  height: 3px;
  background: #000;
}

.drag_line_wrap1 div:nth-of-type(2) {
  width: 100%;
  height: 1px;
  background: rgba(107, 97, 89, 0.7);
}

.drag_btn {
  display: block;
  /* 140/300 46.6667% */
  width: 140px;
  height: 60px;
  background: #6c5c4f;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  padding-top: 19.5px;
  font-weight: 300;
  margin: 40px 0 0 8.33333%;
}

/* #special_offer */

#special_offer {
  width: 100%;
  margin-top: 150px;
  overflow: hidden;
}

.special_offer_center {
  width: 100%;
}

.h2_wrap_2 {
  /* 200/360 */
  width: 83.3333%;
  margin: 0 auto;
  text-align: center;
}

.h2_wrap_2 h2 {
  font-family: "nanumgothic-regular";
  font-size: 3rem;
}

.line_wrap_2 {
  width: 200px;
  height: 2px;
  background: rgba(107, 97, 89, 0.7);
  margin: 15px auto 0;
}

.special_offer_wrap {
  width: 100%;
}

.gnb_2 {
  width: 100%;
  margin-top: 24px;
}

.shilla_hotel_h3,
.shilla_monogram_h3,
.shilla_stay_h3 {
  display: block;
  /* 300/360 */
  width: 300px;
  height: 66px;
  border-left: #000 solid 1px;
  border-right: #000 solid 1px;
  font-family: "nanumgothic-regular";
  font-size: 2rem;
  text-align: center;
  margin: 0 auto 60px;
  padding-top: 21px;
  letter-spacing: 4px;
  font-weight: 400;
}

.shilla_monogram_h3 {
  margin: 90px auto 60px;
}

.shilla_stay_h3 {
  margin: 90px auto 60px;
}

.hotel_box,
.monogram_box,
.stay_box {
  position: relative;
  width: 500px;
  height: 312px;

  margin: 0 auto;
}

.shilla_hotel {
  width: 100%;
  padding-bottom: 10px;
}
.hotel_box_wrap {
  position: absolute;
  left: 0;
  top: 0;
  /* transform: translateX(50%); */
  width: 100%;
  height: 100%;
}
.hotel_box_wrap > div {
  position: absolute;
  top: 0;
  transition: all 3s ease 0s, visibility 0s;
  opacity: 0;
}

.hotel_1 {
  background: url(../image/section_2/hotel/div_1.jpg) no-repeat center/cover;
  width: 500px;
  height: 312px;
  left: 0;
  opacity: 0.5;
  z-index: 2;
}
.hotel_2 {
  /* left: 0; */
  width: 500px;
  height: 312px;
  background: url(../image/section_2/hotel/div_2.jpg) no-repeat center/cover;
  z-index: 3;
  opacity: 1;
}
.hotel_3 {
  background: url(../image/section_2/hotel/div_3.jpg) no-repeat left
    bottom/cover;

  opacity: 0.5;
  width: 500px;
  height: 312px;
  left: 512px;
  left: 0;
  z-index: 2;
}

.hotel_4 {
  background: url(../image/section_2/hotel/div_1.jpg) no-repeat center/cover;
  width: 500px;
  height: 312px;
  left: 1536px;
  opacity: 0.5;
  z-index: 1;
}
.hotel_5 {
  background: url(../image/section_2/hotel/div_2.jpg) no-repeat center/cover;
  width: 500px;
  height: 312px;
  left: 1536px;
  opacity: 0.5;
  z-index: 1;
}
.hotel_6 {
  background: url(../image/section_2/hotel/div_3.jpg) no-repeat center/cover;
  width: 500px;
  height: 312px;
  left: 1536px;
  opacity: 0.5;
  z-index: 1;
}

.shilla_monogram {
  width: 100%;
  padding-bottom: 10px;
  margin-top: 0px;
}

.monogram_box_wrap {
  position: absolute;
  left: 0;
  top: 0;
  /* transform: translateX(50%); */
  width: 100%;
  height: 100%;
}
.monogram_box_wrap > div {
  position: absolute;
  top: 0;
  transition: all 3s ease 0s, visibility 0s;
  opacity: 0;
}

.monogram_1 {
  background: url(../image/section_2/monogram/div_1.jpg) no-repeat center/cover;
  width: 500px;
  height: 312px;
  left: 0;
  opacity: 0.5;
  z-index: 2;
}
.monogram_2 {
  /* left: 0; */
  width: 500px;
  height: 312px;
  background: url(../image/section_2/monogram/div_2.jpg) no-repeat center/cover;
  z-index: 3;
  opacity: 1;
}
.monogram_3 {
  background: url(../image/section_2/monogram/div_3.jpg) no-repeat center/cover;

  opacity: 0.5;
  width: 500px;
  height: 312px;
  left: 512px;
  left: 0;
  z-index: 2;
}

.monogram_4 {
  background: url(../image/section_2/monogram/div_1.jpg) no-repeat center/cover;
  width: 500px;
  height: 312px;
  left: 1536px;
  opacity: 0.5;
  z-index: 1;
}
.monogram_5 {
  background: url(../image/section_2/monogram/div_2.jpg) no-repeat center/cover;
  width: 500px;
  height: 312px;
  left: 1536px;
  opacity: 0.5;
  z-index: 1;
}
.monogram_6 {
  background: url(../image/section_2/monogram/div_3.jpg) no-repeat center/cover;
  width: 500px;
  height: 312px;
  left: 1536px;
  opacity: 0.5;
  z-index: 1;
}

.shilla_stay {
  width: 100%;
  padding-bottom: 10px;
  margin-top: 0px;
}

.stay_box_wrap {
  position: absolute;
  left: 0;
  top: 0;
  /* transform: translateX(50%); */
  width: 100%;
  height: 100%;
}
.stay_box_wrap > div {
  position: absolute;
  top: 0;
  transition: all 3s ease 0s, visibility 0s;
  opacity: 0;
}

.stay_1 {
  background: url(../image/section_2/stay/div_1.jpg) no-repeat center/cover;
  width: 500px;
  height: 312px;
  left: 0;
  opacity: 0.5;
  z-index: 2;
}
.stay_2 {
  /* left: 0; */
  width: 500px;
  height: 312px;
  background: url(../image/section_2/stay/div_2.jpg) no-repeat center/cover;
  z-index: 3;
  opacity: 1;
}
.stay_3 {
  background: url(../image/section_2/stay/div_3.jpg) no-repeat center/cover;

  opacity: 0.5;
  width: 500px;
  height: 312px;
  left: 512px;
  left: 0;
  z-index: 2;
}

.stay_4 {
  background: url(../image/section_2/stay/div_1.jpg) no-repeat center/cover;
  width: 500px;
  height: 312px;
  left: 1536px;
  opacity: 0.5;
  z-index: 1;
}
.stay_5 {
  background: url(../image/section_2/stay/div_2.jpg) no-repeat center/cover;
  width: 500px;
  height: 312px;
  left: 1536px;
  opacity: 0.5;
  z-index: 1;
}
.stay_6 {
  background: url(../image/section_2/stay/div_3.jpg) no-repeat center/cover;
  width: 500px;
  height: 312px;
  left: 1536px;
  opacity: 0.5;
  z-index: 1;
}

.text_box_2 {
  position: absolute;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.4);
  left: 0px;
  bottom: 0;

  color: #fff;
  padding: 20px 0 0 20px;
}

.text_box_2 > p {
  font-size: 1.6rem;
  font-family: "nanumgothic-regular";
  margin-top: 7px;
}

.text_border_2 {
  /* 310/500 */
  width: 62%;
  height: 28px;
  border-bottom: #fff solid 1px;
}
.text_border_2 > p {
  font-size: 1.8rem;
  font-family: "nanumgothic-bold";
}

.pager,
.pager_2,
.pager_3 {
  width: 160px;
  height: 24px;
  margin: 50px auto 0;
  background: transparent;
}
.pager span,
.pager_2 span,
.pager_3 span {
  display: inline-block;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.pause_btn,
.pause_btn_2,
.pause_btn_3 {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../image/icon/pause.png) no-repeat center/cover;
  margin-right: 26px;
  cursor: pointer;
}

.pager span:nth-of-type(1),
.pager_2 span:nth-of-type(1),
.pager_3 span:nth-of-type(1) {
  background: #f1e3c4;

  border-radius: 50%;
  margin-bottom: 3px;
}
.pager span:nth-of-type(2),
.pager_2 span:nth-of-type(2),
.pager_3 span:nth-of-type(2) {
  background: #f1e3c4;
  border-radius: 50%;
  margin: 0 10px 3px;
}
.pager span:nth-of-type(3),
.pager_2 span:nth-of-type(3),
.pager_3 span:nth-of-type(3) {
  background: #f1e3c4;
  border-radius: 50%;
  margin-bottom: 3px;
}

.pager span.active {
  border: #6c5c4f 2px solid;
}

.pager_2 span.active2 {
  border: #6c5c4f 2px solid;
}
.pager_3 span.active3 {
  border: #6c5c4f 2px solid;
}

/* hotels */

#hotels {
  overflow: hidden;
  width: 100%;
  height: 900px;
  background: #f2f2f2;
  margin-top: 150px;
}

.hotels_center {
  position: relative;
}

.h2_wrap_3 {
  /* 300/360 */
  width: 83.3333%;
  height: auto;
  margin: 0 auto;
  padding-top: 80px;
}

.h2_wrap_3 h2 {
  font-size: 3rem;
  font-family: "nanumgothic-regular";
  opacity: 0;
  &.animate__fadeInLeft {
    opacity: 1;
    animation-duration: 0.5s;
  }
}

.h2_wrap_3 p {
  font-size: 1.6rem;
  line-height: 1.5;
  color: #6b6159;
  opacity: 0;
  &.animate__fadeInLeft {
    opacity: 1;
    animation-duration: 1.4s;
  }
}
.line_wrap_3 {
  width: 130px;
  height: 2px;
  background: rgba(107, 97, 89, 0.7);
  margin: 15px 0 8px;
  opacity: 0;
  &.animate__fadeInLeft {
    opacity: 1;
    animation-duration: 1s;
  }
}

.h3_wrap_3 {
  position: absolute;
  left: 0;
  top: 480px;
  overflow: hidden;
  display: flex;
  flex-shrink: 0;
}

.h3_wrap_3 h3 {
  font-size: 20rem;
  font-family: "KoPubWorld Batang Light";
  font-weight: 300;
  color: rgba(0, 0, 0, 0.1);
  z-index: 1;

  white-space: nowrap;
}

.clone3 {
}

.slider_wrap_3 {
  position: relative;
  margin-top: 45px;
}

.left_slide_box {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 240px;
  display: flex;
  /* transform: translateX(-60px); */
}

.left_slide_wrap {
  height: 240px;
  display: flex;
  flex-shrink: 0;
}
#roller1 {
}
#roller2 {
}
.left_slide_wrap > div {
  display: flex;
  width: 240px;
  height: 240px;
  margin-right: 30px;
  padding-top: 180px;
}

.left_slide_wrap > div:nth-of-type(1) {
  background: url(../image/section_3/left_div1.jpg) no-repeat center/cover;
}
.left_slide_wrap > div:nth-of-type(2) {
  background: url(../image/section_3/left_div2.jpg) no-repeat center/cover;
}
.left_slide_wrap > div:nth-of-type(3) {
  background: url(../image/section_3/left_div3.jpg) no-repeat center/cover;
  background-position: left center;
}
.left_slide_wrap > div:nth-of-type(4) {
  background: url(../image/section_3/left_div4.jpg) no-repeat left/cover;
}

.left_slide_wrap > div:nth-of-type(2) p {
  white-space: nowrap;
}

.left_slide_wrap > div:nth-of-type(2) .text_border_3 {
  width: 60%;
}
.right_slide_box {
  position: relative;
  z-index: 2;
  margin-top: 100px;
  width: 100%;
  height: 240px;
  display: flex;
}

.right_slide_wrap {
  height: 240px;
  display: flex;
  flex-shrink: 0;
}

.right_slide_wrap > div {
  display: flex;
  width: 240px;
  height: 240px;
  margin-right: 30px;
  padding-top: 180px;
}

.right_slide_wrap > div:nth-of-type(1) {
  background: url(../image/section_3/right_div1.jpg) no-repeat center/cover;
}
.right_slide_wrap > div:nth-of-type(2) {
  background: url(../image/section_3/right_div2.jpg) no-repeat center/cover;
}
.right_slide_wrap > div:nth-of-type(3) {
  background: url(../image/section_3/right_div3.jpg) no-repeat center/cover;
}
.right_slide_wrap > div:nth-of-type(4) {
  background: url(../image/section_3/right_div4.jpg) no-repeat center/cover;
}

.text_box_3 {
  width: 100%;
  height: 60px;
  color: #fff;
  padding-left: 14px;
}
.text_border_3 {
  /* 100/240 */
  width: 41.6667%;
  height: 22px;
  border-bottom: #fff solid 1px;
}

.text_border_3 p {
  font-family: "nanumgothic-regular";
  font-size: 1.4rem;
}

.text_box_3 > p {
  font-family: "nanumgothic-bold";
  font-size: 1.6rem;
  margin-top: 5px;
}

@keyframes rolling1 {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  50.01% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rolling2 {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-200%);
  }
}

.original1 {
  animation: rolling1 40s linear infinite;
}

.clone1 {
  animation: rolling2 40s linear infinite;
}
.original2 {
  animation: rolling1 40s linear infinite reverse;
}

.clone2 {
  animation: rolling2 40s linear infinite reverse;
}

.original3 {
  animation: rolling1 40s linear infinite;
}

.clone3 {
  animation: rolling2 40s linear infinite;
}

/* offers */

#offers {
  width: 100%;
  overflow: hidden;
}

.offers_center {
  width: 100%;
}

.h2_wrap_4 {
  width: auto;
  /* 300/360 */
  width: 83.3333%;
  height: auto;
  margin: 150px auto 0;
  text-align: center;
}

.h2_wrap_4 h2 {
  display: block;

  width: 150px;
  height: 44px;
  font-family: "nanumgothic-regular";
  font-size: 3rem;

  border-bottom: rgba(107, 97, 89, 0.7) solid 2px;
  margin: 0 auto;
}

.h2_wrap_4 > p {
  margin-top: 15px;
  font-size: 1.6rem;
  font-family: "pretendard-light";
}

.offers_box_wrap {
  width: 100%;
  overflow: hidden;
  margin: 30px 0 0 8.33333%;
}

.offers_box {
  padding: 0 1rem;
  width: 100%;
  display: flex;
  transform: translate(0, 0);
}

.offers_item {
  padding-right: 24px;
  user-select: none;
  position: relative;
}

.offers_box > div:last-of-type {
  padding-right: 0;
}

.offers_item > a {
  display: block;

  -webkit-user-drag: none;
}
.offers_img {
  display: block;
  width: 300px;
  height: 350px;
  -webkit-user-drag: none;
  object-fit: cover;
}
.text_box_4 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 300px;
  height: 90px;
  background: rgba(45, 41, 38, 0.7);
  padding: 24px 0 0 20px;
}
.text_box_4 > a:nth-of-type(2) {
  color: #fff;
  font-size: 1.6rem;
  font-family: "nanumgothic-regular";
}

.line_wrap_4_1 {
  width: 160px;
  height: 1px;
  background: #fff;
  margin: 3px 0 6px;
}
.text_box_4 > a:nth-of-type(3) {
  color: #fff;
  font-size: 1.8rem;
  font-family: "nanumgothic-regular";
}

/* extraoffer */

#extraoffer {
  margin-top: 150px;
  width: 100%;
  height: 666px;

  overflow: hidden;
  font-family: "pretendard-regular";
}

.extraoffer_wrap {
  width: 100%;
  overflow: hidden;
}

.main_img_5 {
  /* 620/360 */
  /* width: 172.222%; height: 276px; */

  background: url(../image/section_5/seourl.jpg) no-repeat center/cover;
}

.extraoffer_center {
  /* 300/360 */
  width: 83.3333%;
  height: auto;
  margin: 35px auto 0;
}

.main_img_5 {
  width: 620px;
  height: 276px;

  background: url(../image/section_5/seourl.jpg) no-repeat center/cover;
  margin: 0 auto;
}

.text_box_5 {
  width: 100%;
}

.h2_wrap_5 {
  width: 100%;
}

.h2_wrap_5 h2 {
  color: #6c5c4f;
  font-size: 2.4rem;
}

.line_wrap_5 {
  width: 100%;
  height: 2px;
  background: rgba(107, 97, 89, 0.7);
  margin-top: 15px;
}

.text_box_inner {
  margin-top: 10px;
  font-size: 1.6rem;
}

.text_box_inner p:nth-of-type(1) {
  font-size: 1.6rem;
}
.text_box_inner p:nth-of-type(2) {
  margin-top: 46px;
}
.text_box_inner p:nth-of-type(3) {
  margin-top: 26px;
}
.text_box_inner p:nth-of-type(4) {
  margin-top: 20px;
  line-height: 1.5;
}

.text_box_5 > a {
  display: block;
  font-family: "pretendard-regular";
  font-weight: 300;
  /* 150/300 */
  width: 150px;
  height: 46px;
  font-size: 1.4rem;
  background: #6c5c4f;
  color: #fff;
  text-align: center;
  padding-top: 14.5px;
  margin-top: 30px;
}

/* membership */

#membership {
  width: 100%;
  background: #f2f2f2;
  padding: 73px 0;
  margin-top: 150px;
  font-family: "nanumgothic-regular";
}

.membership_center {
  width: 100%;
  overflow: hidden;
}

.left_membership {
  position: relative;
  width: 100%;
  padding-top: 305px;
}

.membership_img {
  position: absolute;
  left: -55px;
  top: 0;
  /* 500/360 */
  width: 138.889%;
  height: 265px;
  background: url(../image/section_6/membership.jpg) no-repeat center/cover;
}

.membership_text_box,
.rewards_text_box {
  /* 300/360 */
  width: 83.3333%;
  height: auto;
  margin: 0 auto;
  text-align: center;
}

.membership_text_box > p {
  font-family: "pretendard-regular";
}

.h2_wrap_6 {
  width: 100%;

  margin-bottom: 20px;
  margin: 0 auto 30px;
}

.h2_wrap_6 h2 {
  font-weight: 600;
  font-size: 3.6rem;
}

.line_wrap_6 {
  width: 300px;
  height: 2px;
  background: rgba(107, 97, 89, 0.7);
  margin: 25px auto 0;
}

.membership_text_box p {
  font-size: 1.6rem;
  line-height: 1.5;
}

.membership_text_box > a,
.rewards_text_box > a {
  display: block;
  font-family: "pretendard-regular";
  font-weight: 300;
  /* 150/300 */
  width: 150px;
  height: 46px;
  font-size: 1.4rem;
  background: #6c5c4f;
  color: #fff;
  text-align: center;
  padding-top: 14.5px;
  margin: 65px auto 0;
}

.right_rewards {
  margin-top: 100px;
  position: relative;
  padding-top: 305px;
}

.rewards_img {
  position: absolute;
  left: -55px;
  top: 0;
  /* 500/360 */
  width: 138.889%;
  height: 265px;
  background: url(../image/section_6/rewards.jpg) no-repeat center/cover;
}

.rewards_text_box {
}
.text_box_6 {
  width: 300px;
  margin: 0 auto;
}

.text_box_6 div {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.text_box_6 div p:first-child {
  font-size: 1.6rem;
  font-family: "pretendard-bold";
  color: rgba(0, 0, 0, 0.8);
}

.text_box_6 div p:last-child {
  font-size: 1.4rem;
  font-family: "nanumgothic-bold";
  color: #6f6f6f;
  margin-left: 5px;
}

.text_box_6 div:nth-of-type(2) {
  margin: 18px auto;
}

/* footer */

footer {
  width: 100%;
  padding: 38px 0 48px;
  margin-top: 150px;
  background: #2d2926;
}

.footer_center {
  position: relative;
  /* 300/360 */
  width: 83.3333%;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer_center h2 {
  font-family: "KoPubWorld Batang Light";
  color: #f1e3c4;
}

.footer_center h2 span {
  display: block;
  text-align: center;
}

.footer_center h2 span:nth-of-type(1) {
  font-size: 3rem;
}

.footer_center h2 span:nth-of-type(2) {
  font-size: 1.5rem;
}

.footer_text_box {
  margin-top: 24px;
}

.number_box {
}
.number_box div a {
  display: inline-block;
  color: #f1e3c4;
  font-size: 1.4rem;
  white-space: nowrap;
  font-family: "pretendard-light";
  font-weight: 200;
}

.number_box div a:nth-of-type(1) {
  margin-right: 13px;
}
.number_box div:nth-of-type(1) {
  margin-bottom: 18px;
}

.side_box {
  position: relative;
  width: 100%;
  margin-top: 30px;
}

.side_box div {
  margin-bottom: 8px;
}

.side_box div a {
  color: #f1e3c4;
  font-size: 1.4rem;
  font-family: "pretendard-light";
  font-weight: 200;
}

.side_box div a:nth-of-type(odd)::after {
  display: inline-block;
  content: "|";
  margin: 0 12px;
}

.copyright_box {
  display: none;
}
