
body {
  width: 100%;
  padding: 4rem 0;
  /* overflow: hidden; */
}

#company{
  width: 100%;
}

.drag_box1{
  padding: 1rem 0;
  width: 100%;
  display: flex;
  transform: translate(0, 0);
  /* overflow: hidden; */
}

.drag_item{
  /* width: 100%; */
  
  padding-right: 1rem;
  display: inline-block;
  user-select: none;
}

/* .drag_box1>div:nth-of-type(1){
  background: url(../image/shilla/first.jpg) no-repeat center/cover;
}
.drag_box1>div:nth-of-type(2){
  background: url(../image/shilla/second.jpg) no-repeat center/cover;
}
.drag_box1>div:nth-of-type(3){
  background: url(../image/shilla/third.jpg) no-repeat center/cover;
}
.drag_box1>div:nth-of-type(4){
  background: url(../image/shilla/four.jpg) no-repeat center/cover;
} */


.drag_item:first-child {
  padding-left: 8.33333%;
}


.drag_item>a{
  display: block;
  -webkit-user-drag: none;
}

.image{
  width: 350px; height: 273px;
}